h1{
    border: 2px solid black;
    display: inline;
    padding: 2px;
}
h3{
    border: 2px solid black;
    display: inline;
    padding: 2px;
    float: right;
}
p{
    text-align: center;
}


div{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-right: 50px;
    width: 180px;
}

#facebook, #twitter, #google, #line {
	font-weight: bold;
}

#facebook{
    background-color: #3B5988;
}
#twitter{
    background-color: #00acee;
}
#google{
    background-color: #DD4B39;
}
#line{
    background-color: #2DB400;
}
a{
    text-decoration: none;
}



#header > .container {
    padding-top : 40px;
}